NiceViewService/src/java/hotels.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="hotels" targetNamespace="http://j2ee.netbeans.org/wsdl/NiceViewService/java/hotels"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/NiceViewService/java/hotels" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/NiceViewService/java/hotels" xmlns:tns="http://j2ee.netbeans.org/wsdl/NiceViewService/java/hotels">
            <xsd:element name="cancelHotelFault" type="xsd:string"></xsd:element>
            <xsd:element name="bookHotelFault" type="xsd:string"></xsd:element>
            <xsd:complexType name="creditCardInfoType">
                <xsd:sequence>
                    <xsd:element name="holderName" type="xsd:string"></xsd:element>
                    <xsd:element name="cardNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="dateExpiration" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelsInputType">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="arrival" type="xsd:date"></xsd:element>
                    <xsd:element name="departure" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelInfoType">
                <xsd:sequence>
                    <xsd:element name="nameOfReservService" type="xsd:string"></xsd:element>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="address" type="tns:addressType"></xsd:element>
                    <xsd:element name="bookingNr" type="xsd:int"></xsd:element>
                    <xsd:element name="price" type="xsd:int"></xsd:element>
                    <xsd:element name="guarantee" type="xsd:boolean"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="country" type="xsd:string"></xsd:element>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="street" type="xsd:string"></xsd:element>
                    <xsd:element name="zipcode" type="xsd:string"></xsd:element>
                    <xsd:element name="number" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bookHotelInputType">
                <xsd:sequence>
                    <xsd:element name="bookingNr" type="xsd:int"></xsd:element>
                    <xsd:element name="creditCardInfo" type="tns:creditCardInfoType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsInput" type="tns:getHotelsInputType"></xsd:element>
            <xsd:element name="hotelsInfoArray">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="hotelInfo" type="tns:hotelInfoType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookHotelInput" type="tns:bookHotelInputType"></xsd:element>
            <xsd:element name="bookHotelOutput" type="xsd:boolean"></xsd:element>
            <xsd:element name="cancelHotelInput" type="xsd:int"></xsd:element>
            <xsd:element name="cancelHotelOutput" type="xsd:boolean"></xsd:element>
        </xsd:schema>
    </types>
    <message name="hotelsOperationRequest">
        <part name="getHotelsInput" element="tns:getHotelsInput"/>
    </message>
    <message name="hotelsOperationResponse">
        <part name="getHotelsOutput" element="tns:hotelsInfoArray"/>
    </message>
    <message name="bookOperationRequest">
        <part name="bookHotelInput" element="tns:bookHotelInput"/>
    </message>
    <message name="bookOperationResponse">
        <part name="bookHotelOutput" element="tns:bookHotelOutput"/>
    </message>
    <message name="bookOperationFault">
        <part name="bookHotelFault" element="tns:bookHotelFault"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="cancelHotelInput" element="tns:cancelHotelInput"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="cancelHotelOutput" element="tns:cancelHotelOutput"/>
    </message>
    <message name="cancelHotelFault">
        <part name="cancelHotelFault" element="tns:cancelHotelFault"/>
    </message>
    <portType name="hotelsPortType">
        <operation name="getHotelsOperation">
            <input name="input1" message="tns:hotelsOperationRequest"/>
            <output name="output1" message="tns:hotelsOperationResponse"/>
        </operation>
        <operation name="bookHotelsOperation">
            <input name="input2" message="tns:bookOperationRequest"/>
            <output name="output2" message="tns:bookOperationResponse"/>
            <fault name="fault1" message="tns:bookOperationFault"/>
        </operation>
        <operation name="cancelHotelsOperation">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="hotelsPortTypeBinding" type="tns:hotelsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotelsOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotelsOperation">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotelsOperation">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="hotelsService">
        <port name="hotelsPortTypeBindingPort" binding="tns:hotelsPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
